.container {
    margin: 0 !important;
    padding: 0 50px !important;
    max-width: 100% !important;
}

.mainLogo {
    /* background-image: url(../../images/IN-D-FS-LogoSignuppage.png); */
    background-repeat: no-repeat;
    height: 70px;
    width: 250px;
    margin: 20px 0px;
}

#inviteUserHead h1 {
    color: #565656;
    font-size: 55px;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 15px;
}

#inviteUserBody {
    background-color: #EEF8F9;
    height: 100vh;
    width: 100%;
    padding-top: 50px;
}

#inviteUserForm h1 {
    color: #3a3a3a;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    /* padding-bottom: 20px; */
}

#inviteUserForm p {
    color: #7d7d7d;
    font-size: 19px;
    text-align: center;
    padding-bottom: 5px;
}

#name {
    display: block;
}

#pass {
    display: block;
    padding-left: 16px;
}

#pass a {
    /* float: right; */
    margin-left: 350px;
}

label {
    /* display: block; */
    color: #4d4b4b;
    font-size: 16px;
    padding-top: 20px;
}

#privacyNote p {
    
    color: #7d7d7d;
    font-size: 13px;
    padding-top: 50px;
}

#privacyNote p a{
    color: #7d7d7d;
    font-size: 13px;
    text-decoration: underline;
}

.textInput {
    height: 45px;
    width: 550px;
    border: solid 1px #dadada;
    padding: 0 20px;
}

.field-icon {
    margin-left: -40px;
    cursor: pointer;
}

.fa-eye {
    color : #c1c7d0;
}

#createAccountButton {
    display: block;
    height: 45px;
    width: 550px;
    background-color: #068D87;
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}




